@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --color-primary: #F05A2C;
        --color-secondary: #6c757d;
        --color-success: #28a745;
        --color-info: #17a2b8;
        --color-warning: #ffc107;
        --color-danger: #dc3545;
        --color-light: #f8f9fa;
        --color-dark: #343a40;
    }
}

.tab-shape {
    --bg: #e4e4e4;
    --active-bg: #ffffff;
    --text: #333;
    --active-text: #e6543e;
    --slant: 18px; /* angle size */
  
    padding: 6px 35px;
    background: var(--bg);
    color: var(--text);
    font-weight: 600;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-left: 5px solid #333;
    clip-path: polygon(0 0, 75% 0, 93% 86%, 95% 93%, 100% 100%, 25% 100%, 21% 96%, 18% 89%);
    transition: 0.2s;
  }
  
  /* Active */
  .tab-shape.active {
    background: var(--active-bg);
    color: var(--active-text);
  }
  
  /* Hover */
  .tab-shape:hover {
    background: #d8d8d8;
  }
  