@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #F05A2C;
        --color-secondary: #6c757d;
        --color-success: #28a745;
        --color-info: #17a2b8;
        --color-warning: #ffc107;
        --color-danger: #dc3545;
        --color-light: #f8f9fa;
        --color-dark: #343a40;
    }
}